<div id="sidebar">
	<%= render 'layouts/categories_sidebar' %>
</div>

<div id="main">
<h1>Search Results</h1>
	<p>Showing results for <b><%= @search_query %></b></p>

<%= render :partial => "layouts/product", :collection => @products %>

</div>

<div class="clear"></div>